.authrNm{

}

/***** css menu ******/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  line-height: 1;
  display: inline-block;
}
#menu-line {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #fe4b36;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding:15px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #fe4b36;
}
#cssmenu > ul > li.has-submenu > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-submenu:hover{
  background-color: #fff;
}
#cssmenu > ul > li.has-submenu > a::after {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #020202;
  border-right: 2px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-submenu:hover > a::after {
  border-color: #fe4b36;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
  background-color: rgb(249, 254, 255);
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: auto;
}
#cssmenu ul ul li a {
  padding: 15px 10px;
  width: 200px;
  font-size: 1rem;
  font-weight: 400;
  background: #fff;
  text-decoration: none;
  text-align: left;
  color: #000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

#cssmenu ul ul li.has-submenu > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-submenu > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-submenu:hover > a::after {
  border-color: #ffffff;
}


/*-- custom ---*/
.mnuwrp{position: relative;}
.actnBtn{
}
.actnBtn:hover{
  color: #fff;
}
.actnBtn:focus {
  outline: 0;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(254, 75, 54,.2);
}
.mnuBtn, .actnBtn{
  color: #fff !important;
  font-weight: 700 !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  line-height: 1.6 !important;
  cursor: pointer;
}








@media all and (max-width:1279px){
  header{
    background-color: rgb(249, 254, 255);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.logoWrap{max-width: 200px; width: 100%;}
  .actnBtn {
    position: absolute;
    top: 5px;
    right: 70px;
    z-index: 11;
    padding: 2px 15px !important;
}
 #cssmenu {
    width: 100%;
  }
  #cssmenu > ul.open {
    margin-top: 20px;
}
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
 
  #cssmenu > ul > li.has-submenu > a::after,
  #cssmenu ul ul li.has-submenu > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 23px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 13px;
    right: 20px;
    display: block;
    width: 15px;
    height: 7px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after, .has-right.loginBtn {
    display: none;
  }
}
@media all and (min-width:1280px){
  .visible-sml{display: none !important;}
  .mnuwrp{text-align: right;}
  #cssmenu{
    margin-top: 15px;
  }
  .actnBtn{
    position: absolute;
    right:103px;
    top: 8px;
  }
  /*.loginBtn, .mnudrop{
    margin-top: 9px !important;
    margin-left:45px !important;
  }*/
  .loginBtn{
    position: absolute;
    right: 15px;
    top: 8px;
    display: inline-block;
    border:1px solid rgba(254, 75, 54, 0.22);
    font-weight: 700;
    color: #fe4b36;
    line-height: 1.5 !important;
    padding: 5px 15px;
    border-radius: 5px;
  }
  .loginBtn:hover, .loginBtn:focus{
    background-color: #333;
    border-color: #333;
    color: #fff;
  }
  header.smaller #cssmenu li:hover > ul {
    padding-top: 12px;
  }
  #cssmenu ul ul li a {border-bottom: 1px solid rgba(0,0,0,.1);}
  #cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff;
  background: #fe4b36;
  font-weight: 700;
}
}