
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap');
/*
    font-family: 'Montserrat', sans-serif;
*/
:root {
    --hedline-font: 'Montserrat', sans-serif;
    --text-font: 'Montserrat', sans-serif;
    --bg-light: rgba(255, 255, 255, 0.31);
    --purple:#7077f4;
    --purple-light:#a5a9f2;
    --light-blue:#08b8f4;
    --light-blue-light:#91d7ef;
    --pink:#ff63d4;
    --pink-light:#fbaae5;
    --orrange: #ff9036;
    --orrange-light: #fccba4;
    --green:#00e0ba;
    --green-light:#88e6d6;
}
*{outline: none !important;}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background: rgba(0,123,255,.7);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,123,255,1);
  }
::-webkit-scrollbar-track {
    background: #dadada;
    border-radius: 20px;
  }


html {}
body {
    /*font-size: 1.2rem;*/
    font-family: var(--text-font);
    color: #09104c;
    font-weight: 400;
    background-color: #fff;
    height: 100%;
}
img {max-width: 100%;}

.transition{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
a{display: inline-block;}
a, a:hover, a:focus{text-decoration:none !important; color: #2ebacc;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--hedline-font);
    font-weight:800;
    color: inherit;
}
/*h1{font-size:3.2rem;}
h2{font-size:3rem;}
h3{font-size:2.6rem;}
h4{font-size:2.4rem;}
h5{font-size:2.2rem;}
h6{font-size:2rem;}*/
.text-xl{font-size: 1rem;}
.text-2xl{font-size: 1.2rem;}
.text-3xl, .subbanner p{font-size: 1.4rem;}
.link-color{
    color: #2ebacc;
}
/* ---- stats.js ---- */
canvas{
    display:block;
    vertical-align:bottom;
  }
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles{
    font-size: 1.1em;
  }
  #stats,
  .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  /* ---- particles.js container ---- */
  
  #particles-js{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: #99d2db;
    background-image: url('../images/bannerbg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }  
/*--pulse--*/
.pulse {
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(254,75,54, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(254,75,54, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(254,75,54, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(254,75,54, 0.8);
      box-shadow: 0 0 0 0 rgba(254,75,54, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(254,75,54, 0);
        box-shadow: 0 0 0 10px rgba(254,75,54, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(254,75,54, 0);
        box-shadow: 0 0 0 0 rgba(254,75,54, 0);
    }
  }
/*--- vertical align middle by display table ----*/
.parent-div, .parent-v_wrap {
    display: table;
    width: 100%;
    height: 100%;
}
.div-child, .v_wrap {
    display: table-cell;
    vertical-align: middle;
}

/*.container{
    max-width: 1200px;
}*/
.sidepad{padding-left: 2%; padding-right: 2%;}
.text-orrange{color: #fe4b36 !important;}
.text-purple{color: #09104c !important;}
.font-bold{font-weight: 700;}
.font-normal{font-weight: 400;}
.font-light{font-weight: 300;}
.bg-orrange{background-color: #fe4b36 !important;}
.bg-purple{background-color: #09104c !important;}
.light-blue{background-color: var(--bg-light);}


/*--- default-btn--*/
.animateBtn, .has-animateBtn a{
    position: relative;
    width: auto;
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: .03em;
    font-weight: 600;
    outline: 0;
    color: #fff;
    background-color: #fe4b36 ;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 30px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding-right:70px;
    overflow: hidden;
    margin-top: 10px;
}
.animateBtn:hover, .animateBtn:focus, .has-animateBtn a:hover, .has-animateBtn a:focus{
    box-shadow: 0 0 0 0.2rem rgba(254, 75, 54,.2);
    color: #fff;
}
.animateBtn:after, .animateBtn:before, .has-animateBtn a:after, .has-animateBtn a:before{
    content: "";
    position: absolute;
    height: 15px;
    width: 30px;
    background: url(../images/arrow.png) 0 0 no-repeat;
    background-size: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.animateBtn:after, .has-animateBtn a:after{
    top: 21px;
    right: 25px;
}
.animateBtn:before, .has-animateBtn a:before{
    opacity: 0;
    top: 21px;
    left: -150px;
}
.animateBtn:hover, .has-animateBtn a:hover{padding-left: 70px; padding-right: 30px;}
.animateBtn:hover:after, .has-animateBtn a:hover:after{
    right: -150px;
    opacity: 0;
}
.animateBtn:hover:before, .has-animateBtn a:hover:before{
    left: 25px;
    opacity: 1;
}


.has-art{position: relative; z-index: 1;}
.has-art:before{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    content: "";
    background-color: var(--bg-light);
    /*-ms-transform: rotate(2deg); 
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);*/
    z-index: -1;
}
.has-art:after{
    position: absolute;
    top: -170px;
    left: 0;
    width: 100%;
    height: 90px;
    background: url('../images/topcorner.png') 0 0 no-repeat;
    content: "";
    z-index: -1;
}
.has-art.small-art:before{display: none;}
.has-art.small-art:after{
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 90px;
    background: url('../images/topcorner.png') 0 0 no-repeat;
    content: "";
    z-index: -1;
}
/*--- custom style ---*/
/*------ header -----*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:5px;
    z-index: 1111;
    border-top: 3px solid #fe4b36 ;
    border-bottom: 1px solid rgba(0,0,0,.02);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
header.smaller{
    background-color: rgb(249, 254, 255);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
/*--- page start ---*/
.pad-top{padding-top: 110px !important;}
.subhed{font-size: 1.2rem;}
.helpBox ul{
    padding-left: 25px;
}
/*--table--*/
.footable-filtering{display: none;}
.tableformob{border: none;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.tableformob thead{
    background:rgba(255,255,255,0);
}
.tableformob.footable.table > thead > tr > th{
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    text-transform:capitalize;
    font-size:16px;
    color:#000;
    font-weight:700;
    padding:15px 12px;
    font-family: var(--hedline-font);
}
.tableformob.footable.table > tbody > tr > td{
    padding:10px 12px;
    font-weight:400;
    font-size:16px;
    color:rgba(0,0,0,.8);
    vertical-align: middle;
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.tableformob.footable.table > tbody > tr:last-child > td{
    padding-bottom: 30px;
}
.tableformob.footable.table > tbody > .footable-detail-row > td{
    padding:0 10px;
}
.tableformob.footable.table .table {
    background-color:transparent;
    margin-bottom: 15px;
}
.tableformob.footable.table table th, .tableformob.footable.table table td{
    border:none;
}

tr.footable-filtering{
    position: fixed;
    top: 5px;
    right:-30000000px;
    z-index: 112;
}
.footable-filtering form{
    position: relative;
}
.footable-filtering form input{
    font-family: var(--hedline-font);
    border-radius: 30px !important;
    background: #f1f1f1;
    border-color: transparent;
    padding: 10px 10px 10px 55px;
    color: #000;
    width: 400px;
}
.footable-filtering form .btn-primary{
    position: absolute;
    top: 9px;
    left: 16px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    background-image: url(../../images/admin/sprite.png);
    background-position: -52px -50px;
    border: transparent;
}
.tableformob.footable.table > thead > tr.footable-filtering > th{border: none !important;}
.form-group.footable-filtering-search{width: 400px;}
.footable-filtering form .input-group{width: 100%;}
.footable-filtering form .btn.dropdown-toggle{display: none;}

.tableformob.footable tr:hover, 
.tableformob.footable tr[data-expanded="true"], 
.tableformob.footable tr.footable-detail-row{
    background-color: rgba(204,229,255,.4);
    box-shadow: 0 1px 0 rgba(0,0,0,.07);
}
.tableformob.footable tr table tr:hover, .tableformob.footable thead tr:hover{background-color: rgba(0,0,0,0); box-shadow: none;}
.tableformob.footable.table .footable-detail-row .footable-details.table{
    margin: 0;
    border-top: 1px solid rgba(0,0,0,.09);
}
th{font-weight: 400;}
.tableformob.footable.table .footable-detail-row .footable-details.table.tableformob{border: none !important;}
.footable-detail-row .footable-details.table th{
    color: #000;
    width: 150px;
    font-weight: 400;
}
.footable-detail-row .footable-details.table th, .footable-detail-row .footable-details.table td{
    padding: 5px 10px;

}
.footable-toggle.fooicon  {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: rgba(62, 130, 249, 0.32);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    margin-top: 2px;
    color: #fff;
    /*font-weight: bold;*/
    text-align: center;
    font-size: 26px;
    line-height: 18px;
}
.footable-toggle.fooicon:hover, .tableformob.footable tr:hover .footable-toggle.fooicon, 
.tableformob.footable tr[data-expanded="true"] .footable-toggle.fooicon, 
.tableformob.footable tr.footable-detail-row .footable-toggle.fooicon {
    background: rgba(62, 130, 249, 0.9);
}
.fooicon-plus:after{content: "+";}
.fooicon-minus:after{content: "-";}
/*---*/
/*---*/
.tblDrop{
    padding-bottom: 0;
    padding-top: 0;
    border: 1px solid rgba(0,0,0,.08);
    cursor: pointer;
}
.tblDrop.dropdown-toggle::after{
    margin-left: 0;
    color: #3e82f9;
}
.btn-tbl {
    color:rgba(81,140,249,1);
    background-color: transparent;
    background-image: none;
    border-color: rgba(81,140,249,1);
    padding-top:0;
    padding-bottom: 0;
}
.btn-tbl:hover {
    color: #fff;
    background-color:rgba(81,140,249,1);
    border-color: rgba(81,140,249,1);
}
.btn-tbl:focus {
     box-shadow: 0 0 0 0.2rem rgba(81,140,249,.5);
}
/*-----footer----*/
footer{
    background: url(../images/footer_bg.jpg) 0 0 no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px 0 0;
    margin-top: 80px;
}

.ftrimg{
    max-width: 200px;
    display: block;
    margin: 20px 0;
}
footer .srtAbout{

}
footer .srtAbout a{font-weight: 700;color: #fff;}
.ftrHdr{
    font-weight: 700;
    font-size: 1.4rem;
    margin: 20px 0;
}
footer ul{
    padding: 0;
    list-style-type: none;
}
footer ul li{}
footer ul li a{
    display: block;
    color: #fff;
    padding: 3px 0;
}
.bold{
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}
footer form{
    padding-top: 15px;
}
footer form input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 6px 15px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #fff;
}
footer form input:focus{}
footer form [type="submit"]{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
footer form [type="submit"]:focus, footer form [type="submit"]:hover{
    color:#fff;
    box-shadow: 0 0 0 0.2rem rgba(254, 75, 54,.4);
}

.btmftr{
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px 0;
    margin-top: 40px;
    font-size: .8rem;
}
.btmftr a{
  color:#fff;
}
.cpywrit{
  text-align:right;
}
.developer{
    border-top: 1px solid rgba(255, 255, 255, 0.15); 
    display: inline-block; 
    opacity: .5; 
    padding: 5px 15px;
}


/*-----customFrom-----*/
.customFrom{
    margin: 0 0 40px;
}
.customFrom .form-group{
    margin-bottom: 20px;
}
.customFrom .lbl{
    font-weight: 700;
    margin-bottom: 3px;
    font-size: 1rem;
}
.customFrom .inpt{
    background: rgba(255, 255,255, 0.15);
    border: 1px solid rgba(9, 16, 76, 0.45);
    font-weight: 400;
    display: block;
    width: 100%;
    color: #09104c;
}
.customFrom .inpt[readonly], .customFrom .inpt[disabled]{
    background: #f0f0f0;
    border-color: #f0f0f0;
    color: #000;
    opacity: .8;
}
.customFrom .inpt[readonly]:focus, .customFrom .inpt[disabled]:focus{
    background: #f0f0f0;
    border-color: 1px solid #f0f0f0;
    box-shadow: 0 0 0 2px rgba(9, 16, 76, 0);
}
.customFrom .inpt:focus{
    box-shadow: 0 0 0 2px rgba(9, 16, 76, 0.2);
    background: rgba(255, 255,255, 0.25);
}
.customFrom select.inpt{}


@media only screen and (max-width: 767px){
    .logoFx {
        position: fixed;
        top: 16px;
        z-index: 11111;
    }
    .btmftr *{text-align: center !important;}
    
}
@media only screen and (min-width: 768px){
    .pad-out{padding: 50px;}
    .pad-in{padding-right:15px;padding-left:15px;}
    
}
@media only screen and (min-width: 992px){
    
}
@media only screen and (max-width: 991px){
    .logoFx:after {height: 70px;}
    .pad-top{padding-top: 100px !important;}
    .banner, .aboutWrap{text-align: center;}
    .has-art{padding-top: 80px; padding-bottom: 80px;}
    

}
@media only screen and (max-width:1200px){
    body {
        font-size: 1rem;
    }
    h1{font-size:2.5rem;}
    h2{font-size:2rem;}
    h3{font-size:1.8rem;}
    h4{font-size:1.6rem;}
    h5{font-size:1.4rem;}
    h6{font-size:1.2rem;}
    .text-2xl{font-size: 1.2rem;}
    .text-3xl{font-size: 1.4rem;}
}

@media only screen and (min-width:1600px){
    .has-art:before{top: -150px;height: 150px;}
    .has-art:after{top: -240px;}
    .sidepad{padding-left: 5%; padding-right: 5%;}
    body {
        font-size: 1.2rem;
    }
    h1{font-size:3.5rem;}
    h2{font-size:3rem;}
    h3{font-size:2.6rem;}
    h4{font-size:2.4rem;}
    h5{font-size:2.2rem;}
    h6{font-size:2rem;}
    .text-2xl{font-size: 1.4rem;}
    .text-3xl, .subbanner p{font-size: 1.6rem;}



      
}


@media only screen and (min-width:1200px){

.page-wrap {
    min-height: 100vh;
    margin-bottom: -417px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  footer, .page-wrap:after {
    height: 417px; 
  }
}