:root {
    --text-color:#09104c;
}
.pagetitleWrap{
    overflow: hidden;
    margin-bottom: 50px;
}
.pagetitleWrap .hedTitle{
    display: inline-block;
    float: left;
}
.pagetitleWrap a, .pagetitleWrap button{
    display: inline-block;
    float: left;
    margin: 0 0 0 25px;
}
.formNav{}
.navListWrp{
    margin: 0 0 60px;
    padding: 20px;
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.navTitle{
    color: var(--text-color);
    display: inline-block;
    margin-right: 35px;
    position: relative;
    opacity: .7;
    pointer-events: none;
    padding-right: 20px;
}
.navTitle:hover, .navTitle:focus{color:inherit; opacity: 1;}
.navTitle.submited{
    pointer-events: all;
    font-weight: 700;
    color: #0665cc;
}
.navTitle.active{
    font-weight: 700;
    cursor: text;
    opacity: 1 !important;
}

.navTitle:last-child{
    padding-right:0;
    margin-right: 0;
}
.navTitle:after{
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 0;
    height: 0;
    border-top:7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid;
}
.navTitle:last-child:after{display: none;}
.navListWrp::-webkit-scrollbar {
    height:3px;
  }

.uploadArea{
    text-align: center;
    max-width: 200px;
}
.uploadArea img{
    margin: 15px 0;
    max-width: 100px;
}
.dropname{color: red;}
.uploadArea label{
    border: 3px dotted #5798de;
    padding: 5px 15px 20px;
    cursor: pointer;
    position: relative;
    min-width: 100%;
    font-weight: 700;
}
.uploadArea label:hover{
    border-color: #5798de;;
}
.uploadArea input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 100% !important;
    opacity: 0;
}



.InfoBox{background: rgba(0, 123, 255, 0.35);border-radius: 5px;padding: 20px;}
.authorBx{}
.authorBx img{
    max-width: 100px;
    max-height: 100px;
    border: 4px solid #2170a6;
    border-radius: 50%;
    padding: 2px;
    display: block;
    margin: auto;
}
.ui-sortable-handle{cursor: move;}

@media only screen and (max-width: 767px){
   
}