body{overflow-x: hidden;}
.popBack{
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1111;
    display: inline-block;
}
.prelogin{position: relative;background-color: rgba(255,255,255,.5);}
.loginBx{
    margin: auto;
    max-width: 374px;
    padding: 25px;
    /*background-color: #fff;*/
    border-radius: 10px;
    
    text-align: center;
}
.loginBx > img{}
.loginBx > h1{
    margin:40px 0 40px;
    font-size: 1.3rem;
}

.loginBx form{
    text-align: left;
}
form label{
    font-weight: 700;
    font-size:.9rem;
}
.loginBx form input{
    border-radius: 5px;
    font-size: 1em;
    padding: 8px 15px;
    font-weight: 400;
    background: transparent;
    border: 1px solid #000;
}
.loginBx form input:focus{
    background: transparent;
}
.loginBx select{background: transparent;border: 1px solid #000;}
.frmaxon{margin-top: 60px;}
.secondary-link{
    font-family: var(--hedline-font);
    font-weight: 700;
    color: #000;
    opacity: .4;
    display: inline-block;
    margin-top:11px;
    font-size:.9em;
}
.secondary-link:hover{
    color: #000;
    opacity:1;
}

.loginButn{
    font-family: var(--hedline-font);
    padding: 8px 15px;
    min-width: 130px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}
.loginButn:hover, .loginButn:focus {
    outline: 0;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(254, 75, 54,.2);
}
.copyright{
    text-align: center;
    opacity: .5;
    font-weight: 700;
    position: absolute;
    bottom:5px;
    left: 0;
    width: 100%;
}
.ftrLog{
    font-size: .8rem;
    margin-top: 50px;
}
.ftrLog a{
    font-weight: 700;
    color: #000;
}
.PsLbl{
    position: relative;
    display: block;
}
.tooltip-inner{text-align: left;}
.tooltip-inner div{font-weight: 700; padding: 10px 0 5px;}
.tooltip-inner ul{padding-left: 20px;}
.pHints{
    display: inline-block;
    background: #000;
    text-align: center;
    height: 20px;
    width: 20px;
    color: #fff;
    border-radius: 50%;
    font-weight: 400;
    opacity: .7;
    margin-left: 10px;
}
.Pview{
    display: inline-block;
    height: 22px;
    width: 28px;
    position: absolute;
    top: 2px;
    right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.28);
    padding: 0 3px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}
.bigBtn{
    display: block;
    margin:0 auto 15px;
    max-width: 400px;
    color: #fff;
    background-color: #fe4b36 ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 30px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.bigBtn:hover, .bigBtn:focus{
    box-shadow: 0 0 0 0.2rem rgba(254, 75, 54,.2);
    color: #fff;
}


/*-----customFrom end-----*/
.addbox{
    height: 100vh;
    background-size: cover;
    position:relative;
    z-index: 1;
}
.addbox:before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(0,0,0,.7);
    z-index: -1;
}
.addContent{
    max-width: 700px;
    padding: 25px;
    color: #fff;
    pointer-events: auto;
}
.addContent .addheader {
    color: #f52424;
}
.addContent p{
    font-size: 1.2rem;
    font-weight: 300;
}
.addContent .btn{
    color: #f52424;
    border: 2px solid #fff;
    min-width: 200px;
    font-size: 1rem;
    background: #fff;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left:30px;
    padding-right:30px;
}
.addContent .btn:focus, .addContent .btn:hover {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
}

@media (min-width: 992px) { 
    
    .loginBnr{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    .addContent{
        padding:45px;
    }
 }

